<div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <%- include ('partials/sidebar') %>
    <!-- div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">*coolWebsiteName*</div>
      <div class="list-group list-group-flush">
        <a href="/category/cat1" class="list-group-item list-group-item-action bg-light">Category 1</a>
        <a href="/category/cat2" class="list-group-item list-group-item-action bg-light">Category 2</a>
        <a href="/category/cat3" class="list-group-item list-group-item-action bg-light">Category 3</a>
      </div>
    </div -->
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <%- include ('partials/navbar') %>
      <!-- nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="/home">Home</a>
            </li>
            <li class="nav-item active">
              <a class="nav-link" href='/create'>Create<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%#= username %>
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="/user/<%#= username %>">Profile</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/logout">Logout</a>
              </div>
            </li>
          </ul>
        </div>
      </nav -->


      <div class="container-fluid">
  
        <!-- Page Content -->
        <div class="container">
            <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="my-4">Edit Post
                <!-- small>Create your own posts here</small -->
                </h1>





                <div class="card card-body">
                    <%- include ('partials/messages') %>
                    <form action="/edit/<%= postID %> " method="POST">
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <span class="input-group-text" id="title">Title</span>
                            </div>
                            <input type="title" class="form-control" id='title' name='title' aria-label="Enter Title"
                            value="<%= typeof title != 'undefined' ? title : '' %>"/>
                        </div>

                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                            <label class="input-group-text" for="category">Category</label>
                            </div>
                            <select class="custom-select" id="category" name="category" aria-label="Select Category" disabled>
                              <option value=""><%= category %></option>
                            </select>
                        </div>

                        <div class="form-group">
                            <textarea type="postBody" class="form-control" id="postBody" name="postBody" rows="10" aria-label="Enter Text"><%= typeof postBody != 'undefined' ? postBody : '' %></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>







                

            </div>

            <!-- Sidebar Widgets Column -->
            <div class="col-md-4">

                <!-- Search Widget -->
                <div class="card my-4">
                <h5 class="card-header">Search</h5>
                <div class="card-body">
                    <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-append">
                        <button class="btn btn-secondary" type="button">Go!</button>
                    </span>
                    </div>
                </div>
                </div>

                <!-- Categories Widget -->
                <div class="card my-4">
                <h5 class="card-header">Categories</h5>
                <div class="card-body">
                    <div class="row">
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">Web Design</a>
                        </li>
                        <li>
                            <a href="#">HTML</a>
                        </li>
                        <li>
                            <a href="#">Freebies</a>
                        </li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-unstyled mb-0">
                        <li>
                            <a href="#">JavaScript</a>
                        </li>
                        <li>
                            <a href="#">CSS</a>
                        </li>
                        <li>
                            <a href="#">Tutorials</a>
                        </li>
                        </ul>
                    </div>
                    </div>
                </div>
                </div>

                <!-- Side Widget -->
                <div class="card my-4">
                  <h5 class="card-header">Side Widget</h5>
                  <div class="card-body">
                    <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/L72fhGm1tfE?rel=0" allowfullscreen></iframe>
                    </div>
                  </div>
                </div>

            </div>

            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
      </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
  <!-- /#wrapper -->

  <!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2020</p>
    </div>
    <!-- /.container -->
</footer>